<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading text-center" style="background:#FDC600;">
           <span class="test center">List of Users Queries</span>
    </div>
    <div class="panel-body"
            style="height:400px; overflow-y:auto; background:#f5f5f5;">

  
        <% Conversation.all.each do |c| %>
        <%= link_to c.user.name,
            messages_path(conversation_id: c.id),
            class: "list-group-item" %>
      <% end %>
    </div>
  </div>  

</div>
