<%# <h2>Payment Successful!</h2>
<p>Your payment was processed successfully. Thank you!</p>
<a href="/" class="btn btn-primary">Return to Home</a> %>
<h2>Payment Successful!</h2>
<p>Your payment was processed successfully. Thank you!</p>

<h3>Properties Purchased:</h3>
<ul>
  <% @properties_sold.each do |property| %>
    <li><%= property.name %> - ₹<%= property.price %></li>
  <% end %>
</ul>

<a href="/" class="btn btn-primary">Return to Home</a>
