
<div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title text-center">Agent Customer List</h1>               
                    </div>
                </div>
            </div>
        </div>



<div class="container">
  

  
  <table class="table table-bordered table-striped">
    <tr>
      <th>CustomerName</th><th>Email</th><th>Property</th>
    </tr>
    <% @customers.each do |prop| %>
      <tr>
        <td><%= prop.name %></td>
        <td>₹ <%= prop.email %></td>
        <td><%= prop.property.name %></td>
        
        
      </tr>
    <% end %>
  </table>

</div>


  