

<div class="container-fluid">
  <h2 class="text-center">Agent Sold Properties</h2>

  
  <table class="table table-bordered table-striped">
    <tr>
      <th>Property Name</th><th>Customer name</th><th>email</th><th>Edit</th><th>Delete</th>
    </tr>
    <% @agent_properties.each do |prop| %>
      <tr>
        <td><%= prop.name %></td>
        <td>₹ <%= prop.price %></td>
        <td><%= prop.status %></td>
        
      </tr>
    <% end %>
  </table>

</div>


  