<div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title text-center">Agent Sold Properties</h1>               
                    </div>
                </div>
            </div>
        </div>

<div class="container" style="margin-top:50px;">


  
  <table class="table table-bordered table-striped">
    <tr>
      <th>Property Name</th><th>Customer name</th><th>email</th><th>Edit</th><th>Delete</th>
    </tr>
    <% @agent_properties.each do |prop| %>
      <tr>
        <td><%= prop.name %></td>
        <td>₹ <%= prop.price %></td>
        <td><%= prop.status %></td>
        
      </tr>
    <% end %>
  </table>

</div>


  