<div class="container">
  <h1 class="text-center">All Agents</h1>

  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>Agent Name</th>
          <th>Email</th>
          <% if logged_in? %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
            <tr>
              <td data-label="Agent Name"><%= user.name %></td>

              <td class="email-cell" data-label="Email">
                <%= user.email %>
              </td>

              <% if logged_in? %>
              
                <td data-label="Action">
                  <div class="adminaction">
                    <%= link_to "Edit" ,edit_user_path(user.id)%>
                    <%= button_to "Remove",
                      users_path(user),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-danger btn-sm"
                    %>
                  </div>
                  
                </td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
