// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  color: #777;
}
.lb{
  padding-left: none!important;
}
a{
    text-decoration: none;
}
@media screen and (max-width:448px){
 
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .slider-area{
    padding-top: 5px !important;

}

  .indprop{
    margin-bottom: 20px !important;
  }
}