// Place all the styles related to the Booking_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  color: #777;
}
.main-nav .myli.active a{
    background: none !important;
    box-shadow: none !important;
}
a{
    text-decoration: none;
}
@media screen and (max-width:448px){
 
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .slider-area{
    padding-top: 5px !important;

}
  .indprop{
    margin-bottom: 20px !important;
  }
  
}