// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  color: #777;
}
.main-nav .myli.active a{
    background: none !important;
    box-shadow: none !important;
}
a{
    text-decoration: none;
}
.slider-area{
    padding-top: 5px !important;

}