 .stat-box{
      border-radius:10px;
      padding:25px;
      color:#fff;
      margin-bottom:25px;
      box-shadow:0 6px 15px rgba(0,0,0,0.08);
      text-align:center;
      transition:0.3s;
    }
    .stat-box:hover{transform:translateY(-5px);}

    .bg-revenue{background:linear-gradient(135deg,#6a11cb,#2575fc);} 
    .bg-customers{background:linear-gradient(135deg,#11998e,#38ef7d);} 
    .bg-sold{background:linear-gradient(135deg,#ff512f,#dd2476);} 

    .stat-box h2{margin:0;font-size:32px;font-weight:700;}
    .stat-box p{margin-top:8px;font-size:15px;opacity:0.9;}

    .card{
      background:#fff;
      border-radius:12px;
      padding:20px;
      margin-bottom:25px;
      box-shadow:0 4px 12px rgba(0,0,0,0.06);
    }
    .adminaction{
      display: flex;
      gap: 10px;
      align-items: center;
      
    

    }
    .adminaction a{
      background: darkgray;
      padding: 8px 20px;
      color: white;
      font-size: 16px;
    }

    .card h4{
      font-weight:700;
      margin-bottom:15px;
      color:#333;
      border-left:5px solid #2575fc;
      padding-left:10px;
    }

    .table th{background:#f4f7ff;}

    .badge-sold{background:#28a745;}
    .badge-booked{background:#f0ad4e;}
    .extrabtn{

      float:right;
    }
    @media (min-width: 768px) {
      .adminhead h1{
        text-align: right;
        font-size: 20px !important;
      }
    }

  @media (max-width: 767px) {
    .table-responsive {
      border: 0px solid black;
    }
    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
      display: block;
    }

    .table-responsive thead {
      display: none;
    }
    .adminaction{
      
    flex-direction: column;

    }

    .table-responsive tr {
      margin-bottom: 1rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 10px;
      background: #fff;
    }

    .table-responsive td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      border: none;
    }

    .table-responsive td::before {
      content: attr(data-label);
      font-weight: 600;
      color: #555;
    }
    

    // .table-responsive td:last-child {
    //   justify-content: flex-end;
    // }
}

@media screen and (max-width:448px){
.email{
    max-width: 110px;      /* adjust as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.extrabtn{

  display: flex;
  justify-content: center;
  align-items: center;
  gap :10px;
}
.adminaction{
      
  flex-direction: column;

}
.adminhead h1{
       
        font-size: 18px !important;
      }
}