.sbquery{
    margin: 0px !important;
    padding-left:0px !important ;
    padding-right: 0px !important;
}


@media screen and (max-width:448px){
    .sbquery{
        margin-top: 10px !important;
    }
}