// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.slider-area{
    padding-top: 5px !important;

}
a{
    text-decoration: none;
}
body{
  color: #777;
}
@media screen and (max-width:448px){
 
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  
  
}